
@import "tailwindcss";

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

